meta {
    -theme-display-name: "Xcode Classic Light";
    -theme-interface-style: light;
    -theme-vibrancy: vibrant;
    -theme-accent-color: auto;
}


/*
 * Window styles
 */
meta.window {
    border-color: hsla(0, 0%, 0%, 0.15);
}
meta.titlebar {
    border-color: hsla(0, 0%, 0%, 0.25);
}
meta.titlebar.inactive {
}

meta.button {
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 94%));
    border: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.3));
    color: black;
}
meta.button.highlighted {
    background: linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 86%));
    border: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.3));
    color: black;
}
meta.button.selected {
    color: white;
}
meta.button.highlighted.selected {
    color: white;
}
meta.button.disabled {
    
}

meta.textfield {
    background-color: hsb(0, 0%, 0%, 0.35);
    border-color: hsla(0, 0%, 0%, 0.2);
}
meta.textfield.highlighted {
    background-color: white;
    border-color: hsla(0, 0%, 0%, 0.2);
}


/*
 * Document styles
 */
meta.document {
    background-color: hsl(0, 0%, 100%);
}

/* Text */
meta.text {
    color: hsla(0, 0%, 0%, 0.85);
}
meta.text.invisible {
    color: hsl(0, 0%, 80%)
}
meta.text.selected {
}
meta.text.lookup {
    color: hsl(0, 0%, 80%);
}

/* Cursor */
meta.cursor {
    background-color: hsl(214, 100%, 95%);
}

/* Indentation Guides */
meta.indentguide {
    color: rgba(0, 0, 0, 0.2);
}

/* Gutter */
meta.gutter {
    color: hsl(0, 0%, 60%);
}
meta.gutter.selected {
    color: hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 92%);
}


/*
 * Syntax styles
 */

keyword {
    color: hsl(304, 63%, 37%);
    font-weight: bold;
}
comment, declaration {
    color: hsl(103, 89%, 24%);
}
processing {
    color: hsl(21, 52%, 26%);
}

bracket, operator {
    color: hsla(0, 0%, 0%, 0.85);
}
invalid {
    background-color: hsl(1, 80%, 43%);
}
link {
    color: hsl(240, 100%, 53%);
}

/* Values */
value.boolean, value.null {
    color: hsl(304, 63%, 37%);
    font-weight: bold;
}
value.number {
    color: hsl(248, 100%, 41%);
}
value.entity, value.symbol {
    color: hsl(261, 100%, 31%);
}

/* Identifiers */
identifier.global, identifier.variable {
    color: hsl(186, 40%, 33%);
}
identifier.type {
    color: hsl(203, 83%, 26%);
}
identifier.property, identifier.function, identifier.method {
    color: hsl(203, 83%, 34%);
}
identifier.key {
    color: hsl(203, 83%, 34%);
}
identifier.argument {
    color: hsl(261, 100%, 31%);
}

/* Strings */
cdata {
    color: hsl(210, 11%, 47%);
}
string, regex {
    color: hsl(1, 80%, 43%);
}
string.escaped, regex.escaped {
    color: hsl(21, 52%, 26%);
}
string.key {
    color: hsl(203, 83%, 26%);
}
string-template {
    color: hsl(21, 52%, 26%);
}
string-template.value {
    color: hsl(21, 52%, 26%);
}

/* Markup */
markup.heading {
    color: hsl(44, 95%, 26%);
}
markup.line {
    color: hsl(248, 100%, 41%);
}
markup.bold {
    color: hsl(203, 83%, 34%);
    font-weight: bold;
}
markup.italic {
    color: hsl(186, 40%, 33%);
    font-style: italic;
}
markup.strikethrough {
    color: hsl(1, 80%, 43%);
}
markup.list.item {
    color: hsl(44, 95%, 26%);
}
markup.code {
    background-color: rgba(128, 128, 128, 0.2);
}
markup.link {
    color: hsl(224, 100%, 66%);
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
    color: hsl(203, 83%, 26%);
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
    color: hsl(203, 83%, 34%);
}

/* Tags */
tag {
    color: hsl(203, 83%, 34%);
}
tag.framework {
    color: hsl(21, 52%, 26%);
}
tag.attribute.name {
    color: hsl(203, 83%, 26%);
}
tag.attribute.value {
    color: hsl(1, 80%, 43%);
}
tag.attribute.value.link {
    color: hsl(224, 100%, 66%);
}

/* Styles */
style.at {
    color: hsl(21, 52%, 26%);
}
style.selector.element {
    font-weight: bold;
}
style.selector.identifier.id {
    color: hsl(185, 45%, 20%);
}
style.selector.identifier.class {
    color: hsl(185, 45%, 20%);
}
style.selector.pseudoclass {
    color: hsl(185, 45%, 20%);
}
style.selector.pseudoelement {
    color: hsl(185, 45%, 20%);
}
style.attribute.name {
    color: hsl(186, 40%, 33%);
}
style.string {
    color: hsl(1, 80%, 43%);
}
style.value.number {
    color: hsl(248, 100%, 41%);
}
style.value.color.hex {
    color: hsl(248, 100%, 41%);
}
style.value.keyword, style.value.color.named {
    color: hsl(304, 63%, 37%);
    font-weight: bold;
}
